*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size:16px;
    font-family: 'IBM Plex Sans', sans-serif;
    height:auto
   
}

header{
    max-width:24rem ;
}

.hero-container{
    margin-top: 1rem;
    margin-left: 2rem;
}
.hero-container h1{
    max-width: 19rem;
    margin-top: 3rem;
   
}

.hero-container p{
    max-width: 18rem;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.background-shaded-container img{
    position: absolute;
    max-width: 100%;
    height: auto;
   top:-7rem;
   
   
    
}
.pattern-1-container{
    display: none;
}
main{
    max-width:24rem;
    display: grid;
   
}
.pattern-2-container{
    max-width:24rem;
    grid-template-columns: repeat(2,fr);

    background-color: black;
}
.illustration-app-container{
    max-width:20rem;
    grid-template-columns: 1fr;

}
.illustration-app-container img{
    max-width: 100%;
    height: auto;
}