*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size:16px;
    font-family: 'IBM Plex Sans', sans-serif;
    height:auto
   
}

header{
    max-width:24rem ;
}

.hero-container{
    margin-top: 1rem;
    margin-left: 2rem;
}
.hero-container h1{
    max-width: 19rem;
    margin-top: 3rem;
   
}

.hero-container p{
    max-width: 18rem;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 10rem;
}

.background-shaded-container img{
    position: absolute;
    max-width: 100%;
    height: auto;
   top:-7rem;
   
   
   
    
}
.pattern-1-container{
    display: none;
}
main{
    max-width:24rem;
    display: grid;
    grid-template-columns:4rem 16rem 4rem ;
    grid-template-rows: auto;
   
   
   
}
.pattern-2-container{
    display: flex;
    justify-content: center;
    max-width:24rem;
    background-color: black;
    grid-column: 1/4;
    grid-row: 1/4;
}
.illustration-app-container{
    max-width:20rem;
    grid-column: 2/3;
    grid-row:1/3 ;
    position: relative;
    top:-7rem;
   

}
.illustration-app-container img{
    max-width: 90%;
    height: auto;
}
.premium-eq-main-container{
    max-width:24rem;
    
    background-color: #FA7453;
    grid-column: 1/4;
    grid-row: 4/5;
    position: relative;
    top:-4rem;
   
}
.premium-eq-container{
    max-width: 19rem;
    color: #FCFAF9;
    margin-top: 1rem;
    margin-left: 2rem;
}
.premium-eq-container h1{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.premium-eq-container p{
    line-height: 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apple-button{
    background-color: black;
    color: #FCFAF9;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    /* font-weight: 400;
    font-size: 1rem; */
    border: 2px solid black;
}
.android-button{
    background-color:#FCFAF9;
    color: black;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    /* font-weight: 400;
    font-size: 1rem; */
    border: 2px solid #FCFAF9;
}



footer{

    max-width: 19rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

footer a img{
    margin-bottom: 1rem;
}

footer p{
    line-height: 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 3rem;
}

.social-media-icons{
    max-width: 8rem;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}